/*
 * $Id$
 * @file transportable.admin.css
 * Provides css for admin page
 * @copyright Copyright(c) 2010 Lee Rowlands
 * @license GPL v2 http://www.fsf.org/licensing/licenses/gpl.html
 * @author Lee Rowlands leerowlands at rowlands-bcs dot com
 *
 */
.transportable-admin-link {
  float: left;
  display: inline;
  width: 340px;
  margin: 10px;
  position: relative;
}
.transportable-admin-link.alpha {
  margin-left: 0;
}
.transportable-admin-link.omega {
  margin-right: 0;
}
.transportable-admin-link-image {
  text-align: center;
  display: inline;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
}
.transportable-admin-link-text {
  position: relative;
  display: inline;
  float: left;
  width: 220px;
  margin: 0 0 0 10px;
}