/**
 *$Id$
 *
 *
 * @file transportable-concession.css
 * Provides css for the transportable concessions editing
 * @copyright Copyright(c) 2010 Lee Rowlands
 * @license GPL v3 http://www.fsf.org/licensing/licenses/gpl.html 
 * @author Lee Rowlands leerowlands at rowlands-bcs dot com
 * 
 */
.transportable-concession-age .form-item,
.transportable-concession-max .form-item,
.transportable-concession-discount-percent .form-item {
  display: inline;
  float: left;
}
.transportable-concession-age .form-item select,
.transportable-concession-max .form-item select{
  max-width: 120px;
}
.transportable-concession-remove input {
  text-indent: -10000%;
  border: none;
  cursor: pointer;
  width: 16px;
  background: transparent url(../images/delete.png) no-repeat 0 0;
}