/**
 *$Id$
 *
 *
 * @file transportable-service.css
 * Provides css for the transportable service editing
 * @copyright Copyright(c) 2010 Lee Rowlands
 * @license GPL v3 http://www.fsf.org/licensing/licenses/gpl.html 
 * @author Lee Rowlands leerowlands at rowlands-bcs dot com
 * 
 */
.transportable-service-stop-point-embark .form-item {
  display: inline;
  float: left;
}
.transportable-service-stop-point-embark .form-item select {
  max-width: 120px;
}
.transportable-service-stop-point-embark .form-item input {
  max-width: 50px;
}
.transportable-service-stop-point-remove input {
  text-indent: -10000%;
  border: none;
  cursor: pointer;
  width: 16px;
  background: transparent url(../images/delete.png) no-repeat 0 0;
}
.clear {
  clear: left;
}
.width-100 {
  width: 100px;
}