/*$Id$*/
/*
 * @file transportable.search.css
 * Provides css for transportable search form and results
 * @copyright Copyright(c) 2010 Lee Rowlands
 * @license GPL v3 http://www.fsf.org/licensing/licenses/gpl.html
 * @author Lee Rowlands leerowlands at rowlands-bcs dot com
 * 
 */
html.js .transportable-hidden {
  display: none;
}
.transportable-search-page .form-item, .transportable-search-page .date-clear-block {
  display: inline;
  position: relative;
  float: left;
  width: 200px;
  margin: 0;
  clear: none;
}
.transportable-search-page .date-clear-block:after {
  clear: none;
}
.transportable-search-page #edit-search {
  clear: left;
  float: left;
}
.transportable-search-page .transportable-search-return .form-item {
  width: 100px;
}
.transportable-search-page .date-clear-block {
  clear: none;
  margin-right: 0;
}
.transportable-price {
  text-align: right;
}
.transportable-search-results-table, .transportable-search-page .transportable-search-depart-dt {
  clear: left;
}
.clear {
  clear: left;
}
.transportable-search-indirect-book {
  text-align: right;
  padding-bottom: 2em;
}